<form action="">
  <label for="fname">Name:</label><br>
  <input type="text" id="fname" name="fname" value="Full Name"><br>
    <form action="/action_page.php">
    <p>Do you prefer to be contact by:</p>
    <input type="checkbox" id="phone" name="phone" value="Bike">
    <label for="phone">Phone</label>
    <input type="checkbox" id="email" name="email" value="Car">
    <label for="email">Email</label><br>
  </form><br>
  <label for="lname">Email:</label><br>
  <input type="text" id="lname" name="lname" value="something@email.com"><br><br>
  <label for="lname">Phone Number</label><br>
  <input type="text" id="lname" name="lname" value="Number"><br><br>

  <input type="submit" value="Submit">
</form>
