<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-8">
               <div class="logo-part">
                  <h2>BookStore</h2>
                  <br>
                  <p>Rua do Conde de Redondo 91B, 1150-103 Lisboa</p>
                  <p>Millions of Products, Low € Prices. Free Delivery on Eligible Orders.</p>
               </div>
            </div>
            <div class="col-md-4">
               <h6> About Us</h6>
               <p>But horizontal lines can only be a full pixel high.</p>
               <a href="#" class="btn-footer"> More Info </a><br>
               <a href="#" class="btn-footer"> Contact Us</a>
            </div>
         </div>
      </div>
   </div>
</div>
</footer>
