<footer class="container-fluid bg-grey pt-5 d-flex justify-content-center">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="logo-part">
              <h2><a href="/" class="navbar-brand"><h2><b>Le</b>Book<b>Store</b></h2></a></h2>
              <hr>
              <p>Rua do Conde de Redondo 91B, 1150-103 Lisboa</p>
              <p>Millions of Products, Low € Prices. Free Delivery on Eligible Orders.</p>
            </div>
          </div>
          <div class="col-md-4">
            <h2> About Us</h2>
            <hr>
            <p>But horizontal lines can only be a full pixel high.</p>
            <a href="#" class="btn-footer"> More Info </a><br>
            <a href="#" class="btn-footer"> Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <hr><br>
  <!-- Footer Text -->
  <p class="float-right"><a href="#">Back to top</a></p>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span class="text-center">Copyright &copy; 2019-2020 &middot; <a href="/">LeBookStore, Inc. &middot;</a></span>
  </div>
  <!-- Copyright -->    
  </div>
    </div>
  </div>
</footer>
