<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a href="/" class="navbar-brand"><b>Le</b>Book<b>Store</b></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">
      <a href="/" class="nav-item nav-link">Home</a>
      <a href="#" class="nav-item nav-link">About</a>
      <a href="#" class="nav-item nav-link">Contact</a>
    </div>
    <form class="navbar-form form-inline">
      <div class="input-group search-box">
	  	<div class="input-group">
          <input type="text" id="search" class="form-control" placeholder="Search here...">
		  <div class="input-group-append">
    		<button class="btn btn-primary search-btn" type="button">Search</button>
  		  </div>
		</div>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="material-icons">&#xE8B6;</i>
          </span>
        </div>
      </div>
    </form>
    <div class="navbar-nav ml-auto action-buttons">
      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4"><i class="fa fa-key"></i></a>
        <div class="dropdown-menu action-form">
          <p class="hint-text">What would you like to do?</p>
          <div class="form-group social-btn clearfix">
            <% if user_signed_in? %>
              <button type="button" class="btn btn-alert float-left"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
            <% else %>
              <a href="<%= new_user_session_path %>" class="btn btn-primary float-left"><i class="fa fa-key"></i> Login</a>
            <% end %>
            <a href="../users/password/new" class="btn btn-primary float-right">Reset</a>
          </div>
          <div class="or-seperator"><b>or</b></div>
          <div>
            <p class="hint-text">Would you rather browse the store?</p>
            <button type="button" class="btn btn-dark btn-block"><%= link_to "Browse Books", books_path %></button>
          </div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="../users/sign_up" class="btn btn-primary sign-up-btn">Sign up</a>
      </div>
    </div>
  </div>
</nav>
