
<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <!--2nd portion>-->
      <div class="position-sticky pt-md-5">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              <span class="ml-2">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              <span class="ml-2">New books</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
              <span class="ml-2">History</span>
            </a>
          </li>
        </ul>
      </div>
      <!--2nd ends here -->
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <h1 class="h2">Profile Page</h1>
      <div class="row my-4">
        <div class="col-12">
          <div class="card">
            <h5 class="card-header"><%= @user.first_name %> <%= @user.last_name %></h5>
            <div class="card-body">
              <h5 class="card-title">Details:</h5>
              <p class="card-text">E-mail address: <%= @user.email %></p>
              <p class="card-text text-success">*****</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">Latest transactions</h5>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Order</th>
                      <th scope="col">Author</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Price</th>
                      <th scope="col">Date</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">17371705</th>
                      <td></td>
                      <td></td>
                      <td>€61.11</td>
                      <td>Aug 31 2020</td>
                      <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-block btn-light">View all</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
          <div class="card">
            <h5 class="card-header">Bought books</h5>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Order</th>
                      <th scope="col">Author</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Price</th>
                      <th scope="col">Date</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">17371705</th>
                      <td>Volt Premium Bootstrap 5 Dashboard</td>
                      <td>johndoe@gmail.com</td>
                      <td>€61.11</td>
                      <td>Aug 31 2020</td>
                      <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-block btn-light">View all</a>
            </div>
          </div>
        </div>
      </div>

      <footer class="pt-5 d-flex justify-content-between">
        <ul class="nav m-0">
          <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Terms and conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
          </li>
        </ul>
      </footer>
    </main>
  </div>
</div>
