

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1474366521946-c3d4b507abf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
  Le Bookstore
</div>

<h2>Welcome to the world of second hand books</h2>
<p>Join today to explore our incredible selection</p>

<div class="container">
  <h2 class="text-center">How it works</h2>
  <div class="cards">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Browse</h5>
      <p class="card-text">Discover your next read with le bookstore .</p>
      <a href="<%= books_path %>" class="btn btn-primary">Browse</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buy</h5>
      <p class="card-text">Get great deals on a wide range of used books.</p>
      <a href="<%= books_path(anchor: "index") %>" class="btn btn-primary">Buy</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sell</h5>
      <p class="card-text">Get money from your old books.</p>
      <a href="<%= new_book_path %>" class="btn btn-primary">Sell</a>
    </div>
  </div>
</div>

